**Auhtor**

Serkan Yalcin

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List the popular languages used by data scientists
- List commonly used libraries used by data scientists
- List open source tools used data environments

Some of the popular languages that Data Scienctists use are:
1. R
2. Python
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientistst are:
1. NumPy
2. Pandas
3. Keras
4. PyTorch
5. SciPy

|Data Science Tools|
|------------------|
|RStudio   |
|Apache Spark   |
|TensorFlow  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335